:root {
    --text-rgb-0-0-255: rgba(0, 0, 255, 1);
    --text-black: rgba(0, 0, 0, 1);
    --font-family-times-new-roman: 'Times New Roman', Times, serif;
}

.text-rgb-0-0-255 {
    color: var(--text-rgb-0-0-255);
}

.text-black {
    color: var(--text-black);
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

button,
a {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

/* Frame 1 - Main Container */
.frame-1-1 {
    position: relative;
    width: 1913px;
    height: 565px;
    background-color: rgba(255, 255, 255, 1);
    padding-left: 34px;
    padding-top: 27.83px;
}

/* WRITING Header */
.text-15 {
    position: absolute;
    left: 34px;
    top: 27.83px;
    text-align: left;
    font-family: var(--font-family-times-new-roman);
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-black);
}

/* Email / Linkedin Footer */
.text-16 {
    position: absolute;
    left: 1787px;
    top: 30.58px;
    text-align: left;
    font-family: var(--font-family-times-new-roman);
    font-weight: normal;
    font-size: 15px;
    text-decoration: none;
    text-transform: none;
}

/* Article List Container */
.group-5-2 {
    position: absolute;
    left: 34px;
    top: 53px;
    width: 207px;
    height: 89.21px;
}

/* REUSABLE ARTICLE ITEM TEMPLATE */
/* Use these classes for any new articles you add */

/* Article item wrapper - each article should be in one of these */
.group-1-3,
.group-2-6,
.group-3-9,
.group-4-12,
.article-item {
    position: absolute;
    left: 0px;
    width: 207px;
    height: 17.24px;
}

/* Spacing between articles - 24px apart */
.group-1-3 {
    top: 0px;
}

.group-2-6 {
    top: 24px;
}

.group-3-9 {
    top: 48px;
}

.group-4-12 {
    top: 72px;
}

/* Article button/link styling */
.text-4,
.text-7,
.text-10,
.text-13,
.article-link {
    position: absolute;
    left: 15px;
    top: 3.58px;
    text-align: left;
    font-family: var(--font-family-times-new-roman);
    font-weight: normal;
    font-size: 15px;
    text-decoration: underline;
    text-transform: none;
    color: var(--text-rgb-0-0-255);
}

/* Hover effect for article links */
.text-4:hover,
.text-7:hover,
.text-10:hover,
.text-13:hover,
.article-link:hover {
    text-decoration: none;
}

/* Bullet points for articles */
.ellipse-3-5,
.ellipse-4-8,
.ellipse-5-11,
.ellipse-6-14,
.article-bullet {
    position: absolute;
    left: 0px;
    top: 10.5px;
    width: 5px;
    height: 5px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
}

/* Footer Links */
.btn-email,
.btn-linkedin {
    display: inline;
    font-family: var(--font-family-times-new-roman);
    font-weight: normal;
    font-size: 15px;
    text-decoration: underline;
    text-transform: none;
    color: var(--text-rgb-0-0-255);
}

.btn-email:hover,
.btn-linkedin:hover {
    text-decoration: none;
}

/* Responsive adjustments */
@media (max-width: 1440px) {
    .frame-1-1 {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 768px) {
    .frame-1-1 {
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* 
TEMPLATE FOR ADDING NEW ARTICLES:
================================

To add a 5th article, add this HTML inside the .group-5-2 container:

<div class="article-item" style="top: 96px;">
  <button class="article-link"><span class="text-rgb-0-0-255">Your Article Title</span></button>
  <div class="article-bullet"></div>
</div>

Key measurements:
- Each article is 24px apart (0px, 24px, 48px, 72px, 96px, etc.)
- Bullet point is centered at 10.5px from top
- Text starts at 3.58px from top, 15px from left
- Font: Times New Roman, 15px
- Color: Blue (rgb(0, 0, 255))
- Underline by default, removed on hover
*/