a:hover {
    text-decoration: none;
    /* Just remove underline on hover */
}

/* Header & Footer */
header,
footer {
    margin-bottom: 40px;
}

footer {
    margin-top: 60px;
    padding-top: 20px;
}

footer a {
    color: blue;
    text-decoration: underline;
}

footer a:visited {
    color: blue;
}

.article-list {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
}

.article-list li {
    margin-bottom: 4px;
    /* Reduced spacing */
}

.article-row {
    display: inline-block;
    /* Changed to inline-block to sit nicely with bullet */
    padding: 0;
    text-decoration: underline;
    /* Ensure underline */
    border: none;
    /* No borders */
    margin-bottom: 0;
    /* Handled by li */
    color: blue;
}

.article-row:hover {
    background-color: transparent;
    /* Reset container hover */
}

/* Highlight the title text on hover */
.article-row:hover .article-title span {
    text-decoration: none;
    /* Just remove underline on hover */
}

/* Hide EVERYTHING except the title */
.article-date-container,
.article-tags-wrapper,
.article-dot,
.article-arrow,
.article-vector-bg,
.article-vector-fg,
.horizontalborder-3,
.horizontalborder-16,
.svg-margin-25,
.svg-26,
.svg-28,
.svg-margin-34,
.svg-35,
.svg-37,
.svg-41,
.svg-43,
.svg-45,
.svg-47,
.svg-49,
.svg-51,
.svg-53,
.svg-55,
.svg-57,
.svg-68,
.svg-70,
.svg-72,
.svg-74,
.svg-76,
.svg-78,
.svg-80,
.svg-82,
.svg-84,
.svg-86,
.svg-88,
.svg-90,
.svg-92,
.svg-94,
.svg-96,
.svg-98,
.svg-100,
.svg-102,
.link-105,
.container-4,
.container-8,
.container-12,
.button-21,
.button-24,
.button-33,
.container-23,
.container-32 {
    display: none !important;
}

/* Style the title container */
.article-title-container {
    display: block;
    width: auto !important;
}

.article-title-wrapper {
    display: inline;
}

.article-title {
    font-weight: normal;
    /* Plain font */
    font-size: 1em;
    margin: 0;
}

.article-title span {
    color: blue;
    text-decoration: underline;
}